.shell {
  text-align: center;
  max-width: 640px;
  width: 100%;
}

.avatarWrapper {
  margin: 0 auto 2rem;
  width: 96px;
  height: 96px;
  border-radius: 999px;
  border: 1px solid #666666;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.notaAvatar {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  display: block;
  object-fit: cover;
}
