@layer base {
  :root {
    --background: #ffffff;
    --foreground: #111111;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #f5f5f5;
    }
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    /* gunakan font console: Source Code Pro jadi default */
    font-family: var(--font-source-code-pro), monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #dddddd;
    font-family: var(--font-source-code-pro), monospace;
    font-size: 0.875rem;
    padding: 0.2rem 0.4rem 0.3rem;
  }

  @media (prefers-color-scheme: dark) {
    code {
      background-color: #111111;
      border: 1px solid #474747;
    }
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
}